<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="applozic.com.audiovideo">
    <uses-permission android:name="android.permission.VIBRATE" />
    <application>
    <activity android:name="com.applozic.audiovideo.activity.AudioCallActivityV2"
        android:configChanges="keyboardHidden|orientation|screenSize"
        android:exported="true"
        android:launchMode="singleTop"
        android:theme="@style/Applozic_FullScreen_Theme"/>

    <activity android:name="com.applozic.audiovideo.activity.CallActivity"
        android:configChanges="orientation|keyboardHidden|screenSize"
        android:label="@string/app_name"
        android:launchMode="singleTop"
        android:theme="@style/Applozic_FullScreen_Theme"/>

    <activity android:name="com.applozic.audiovideo.activity.VideoActivity"
        android:launchMode="singleTop"
        android:configChanges="keyboardHidden|orientation|screenSize"
        android:exported="true"
        android:theme="@style/Applozic_FullScreen_Theme">
    </activity>
    </application>
</manifest>
