<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.applozic.mobicomkit">

    <application>
        <service
            android:name="com.applozic.mobicomkit.api.conversation.MessageIntentService"
            android:exported="false" />

        <receiver android:name="com.applozic.mobicomkit.broadcast.NotificationBroadcastReceiver">
            <intent-filter>
                <action android:name="applozic.LAUNCH_APP" />
            </intent-filter>
            <meta-data
                android:name="activity.open.on.notification"
                android:value="com.applozic.mobicomkit.uiwidgets.conversation.activity.ConversationActivity" />
        </receiver>

        <receiver android:name="com.applozic.mobicomkit.broadcast.TimeChangeBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.applozic.mobicomkit.broadcast.ConnectivityReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <service android:name="org.eclipse.paho.android.service.MqttService"/>
    </application>

</manifest>
